@import "utils/fonts";
@import "utils/libs";
@import "utils/mixins";
@import "utils/vars";
@import "header/index";
@import "breadcrumbs/index";
@import "content/index";
@import "footer/index";

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1390px;
    display: block;
    margin: 0 auto;
}


